.name2{
    color: #e9edef;
    font-size: 17px;
    font-weight: 500;
    padding-left: 15px;
    
    margin: 0;
}

.msg-window{
    background-image: url( 'https://wallpapercave.com/wp/wp6988787.png');
    flex:1 1 auto;
    background-repeat: repeat;
    background-size:contain;
    overflow-y: scroll;
    
}

.msg-window::-webkit-scrollbar{
    display: none;
}

.msg-input{
    height: 8dvh;
    background-color:rgb(32 44 51); ;
}

.input{
    flex: 1;
}

.input>input{
    height: 6dvh;
    background-color: rgb(42 57 66); 
    border: none;
    border-radius: 7px;
    color: white;
}


.input>input:focus{
    border: none;
    margin: none;
    outline: none;
}

.send-icon>img{
    height: 5dvh;
    cursor: pointer;
}

.message{
    padding: 12px;
    width: fit-content;
    max-width: 70%;
    min-width: 70px;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.sender{
    margin-left: auto;
    margin-right: 20px;
    background-color: #176b5b;

}

.received{
    margin-left: 20px;
    background-color: rgb(32 44 51);
}

.tick-mark{
    height: 15px;
    width: 20px;
}

.dropdown{
    position: absolute;
    top: 3px;
    right: 10px;
    opacity: 0;
    transition-duration: 0.25s;
    cursor: pointer;
    background-color: #176b5b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.message:hover .dropdown{
    opacity: 1;
}

.dropoptions{
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 2;
    background-color: rgb(32 44 51);
    padding: 15px;
    border-radius: 5px;
    transition-duration: 0.15s;
}

.dropoptions>p{
    color: #e9edef;
    font-size: 16px;
    cursor: pointer;
}

.editwindow{
    position: absolute;
    height: 100dvh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 3;
}

.deleted{
    color: rgba(255,255,255,0.5);
}